<div class="container">
    <h1 class="text-center">CART ID: {{cartId}}</h1>
    <hr class="mb-4">
    {{#if products}}
    <table class="table table-striped-columns">
        <thead>
            <tr>
                <th>add to cart</th>
                <th>title</th>
                <th>description</th>
                <th>price</th>
                <th>units</th>
                <th>code</th>
                <th>stock</th>
                <th>category</th>
                <th>thumbnail</th>
                <th>status</th>
                <th>id</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
                <tr>
                    <td class="text-nowrap px-1">
                        <button onclick="callApiDeleteProd( '{{../cartId}}', '{{this._id}}' )" class="btn btn-danger">Remove</button>
                    </td>
                    <td>{{this.title}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.quantity}}</td>
                    <td>{{this.code}}</td>
                    <td>{{this.stock}}</td>
                    <td>{{this.category}}</td>
                    <td>{{this.thumbnail}}</td>
                    <td>{{this.status}}</td>
                    <td>{{this._id}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    <div class="d-flex justify-content-center mb-3">
        <button onclick="deleteProducts('{{cartId}}')" class="btn btn-warning">Empty cart</button>
    </div>
    
    {{else}}
    <h1>Not Products yet!</h1>
    {{/if}}
    <div class="d-flex justify-content-center">
        <a class="btn btn-success text-center" href="/products">PRODUCTS</a>
    </div>
</div>
<script src="/carts.js"></script>