<!DOCTYPE html>
<html lang="en">
<div class="container">
    <h1 class="text-center">PRODUCTS</h1>
    <hr class="mb-4">
    {{#if user}}
    <div class="d-flex justify-content-between align-items-center">
        <ul>
            {{#if isAdmin }}
                <h2 class="text-danger">Role: {{user.role}}</h2>
            {{else}}
                <li>First Name: {{user.first_name}}</li>
                <li>Last Name: {{user.last_name}}</li>
                <li>Email: {{user.email}}</li>
                <li>Age: {{user.age}}</li>
                <li>Role: {{user.role}}</li>
                <li>cart: {{user.cart}}</li>

            {{/if}}


        </ul>
        <div class="d-flex flex-column gap-5">
            <a class="btn btn-secondary" href="/profile">Profile</a>
            {{#if isAdmin }}
                <a class="btn btn-info" href="/products/realtimeproducts">Real Time Products</a>
            {{else}}
                <a class="btn btn-warning" href="/chat">Chat</a>

                <a class="btn btn-info" href="/carts/{{user.cart}}">Cart</a>

            {{/if}}

            <a class="btn btn-danger" href="/api/auth/logout">Log Out</a>
        </div>
    </div>
        <hr class="mb-4">
    {{/if}}
    <div class="pb-3 text-center" id="pagination">
        {{#if hasPrevPage}}
        <a class="btn btn-primary" href="{{prevLink}}"><</a>
        {{/if}}
        <div class="d-inline p-3">
            {{page}}
        </div>
        {{#if hasNextPage}}
        <a class="btn btn-primary" href="{{nextLink}}">></a>
        {{/if}}
    </div>
    <hr class="mb-4">

    <table class="table table-striped-columns">
        <thead>
            <tr>
                {{#unless isAdmin}}
                    <th>add to cart</th>
                {{/unless}}

                <th>title</th>
                <th>description</th>
                <th>price</th>
                <th>code</th>
                <th>stock</th>
                <th>category</th>
                <th>thumbnail</th>
                <th>status</th>
                <th>id</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
                <tr>
                    {{#unless ../isAdmin}}
                        <td class="text-nowrap px-1">
                            <button onclick="callApiAddProd( '{{../user.cart}}', '{{this._id}}' )" class="btn btn-success" >Add To Cart</button>
                        </td>
                    {{/unless}}
                    <td>{{this.title}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.code}}</td>
                    <td>{{this.stock}}</td>
                    <td>{{this.category}}</td>
                    <td>{{this.thumbnail}}</td>
                    <td>{{this.status}}</td>
                    <td>{{this._id}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/products.js"></script>
