<div>
    <h2>WELCOME {{first_name}}</h2>
</div>
<div>
    <ul>
        <li>First Name: {{first_name}}</li>
        <li>Last Name: {{last_name}}</li>
        <li>Email: {{email}}</li>
        <li>Age: {{age}}</li>
        <li>Role: {{role}}</li>
    </ul>
</div>
<div>
    <a class="btn btn-success" href="/products">Products</a> | <a class="btn btn-danger" href="/api/sessions/logout">Log Out</a> 
</div>